/* COLOURS
      #bd88a9 - border colors
 */

.container-1
{
  display: flex;
  margin: 30px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius:5px;

  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius:5px;
}

.menu
{
  flex: 1 1 15em;
  background: #ffffff;
  align-items:center;
  padding: 40px 20px 20px 20px;


  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius:5px;

  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius:5px;

  border-left: 1px solid #bd88a9;
  border-top: 1px solid #bd88a9;
  border-bottom: 1px solid #bd88a9;
}

.menu .menu-inner
{
  margin: 40px 0px 40px -20px;
  padding: 0px;
  width: 220px;
}
.menu p, .menu a { font-weight: 400;}

.menu hr { border-color: #bd88a9}

.menu span {font-size: 11px; margin-top: -30px; position: absolute;}

.menu-top:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.holder
{
  flex: 3 2 30em;
  background: #ffffff;
  padding: 45px 25px 40px 25px;
  margin-left: -80px;
  min-height: 500px;

  border-top: 1px solid #bd88a9;
  border-bottom: 1px solid #bd88a9;
}

.holder h3 { margin: 0px 0px 0px 15px; }
.holder img.home-img { padding: 20%;}

.tips
{
  flex: 1 1 15em;
  padding: 20px;
  background-color: #64003f;
  color: #ffffff;
  min-width: 220px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius:5px;

  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius:5px;
}

@media (min-width: 320px) and (max-width: 480px)
{
    .container-1{
      display:flex;
      flex-direction:column;
      margin: -4px 4px 5px 4px;
    }

    .menu
    {
      border-top-left-radius:5px;
      border-top-right-radius:5px;
      border-bottom-left-radius:0px;
      border-bottom-right-radius:0px;

      -webkit-border-top-left-radius:5px;
      -webkit-border-top-right-radius:5px;
      -webkit-border-bottom-left-radius:0px;
      -webkit-border-bottom-right-radius:0px;

      -moz-border-top-left-radius:5px;
      -moz-border-top-right-radius:5px;
      -moz-border-bottom-left-radius:0px;
      -moz-border-bottom-right-radius:0px;

      border: none;
    }

    .menu span
    {
    font-size: 13px;
    font-weight: 400;
    margin: -20px 0px 0 0px;
    }

    .holder
    {
      border: none;
      padding: 20px 5px 0 5px;
      margin: -130px 0 0 0;
      min-height: auto;
    }

    .holder h3 { margin: -25px 0 -5px 15px; }

    .tips
    {
      border-top-left-radius:0px;
      border-top-right-radius:0px;
      border-bottom-left-radius:5px;
      border-bottom-right-radius:5px;

      -webkit-border-bottom-left-radius:5px;
      -webkit-border-bottom-right-radius:5px;

      -moz-border-bottom-left-radius:5px;
      -moz-border-bottom-right-radius:5px;
    }

    .menu .menu-inner
    {
      border-right:none;
      margin: 10px 0px 130px 0px;
      width: auto;
    }

    a.menu-link {
      float: left;
      display: inline-block;
      padding: 10px 0px 10px 19px;
      background: #a00065;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      margin: 10px 0 0px -20px;
      width: 100%;
      text-decoration: none;
    }

    nav[role=navigation] li a {
			padding: 5px 5px 5px 20px;
		}

    nav[role=navigation] li a:hover, nav[role=navigation] li a:focus {
      background: #a00065;
      color: #fff;
		}

    nav[role=navigation] li a, nav[role=navigation] li a:hover, nav[role=navigation] li a:focus {
      font-weight: 400;
		}

    .menu-hr {display: none;}

}
